
<head>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/activeorders.js"></script>
</head>

<script>
    $(document).ready(function () {

        var currentDisplaystatus = "ACTIVE";
        function ProcessMenuClick() {
            console.log()
             $("#divActiveorders").load('@(Url.Action("ActiveOrders", "OrderStatus",null, Request.Url.Scheme))?categoryId=' + currentDisplaystatus);
        }

        $('#active').click(function () {
            currentDisplaystatus = "ACTIVE";
            console.log("ACTIVE");
            $("#divActiveorders").load('@(Url.Action("ActiveOrders", "OrderStatus",null, Request.Url.Scheme))?categoryId=' + currentDisplaystatus);
            alert("Test");
            ProcessMenuClick();

        });
        $('#inRoute').click(function () {
            currentDisplaystatus = "IN-ROUTE";
              ProcessMenuClick()




        });
        $('#completed').click(function () {
            currentDisplaystatus = "COMPLETED";
            // ProcessMenuClick();       



        });
        $('#active').click(function () {
            currentDisplaystatus = "ACTIVE";
            console.log("ACTIVE");
            $("#divActiveorders").load('@(Url.Action("ActiveOrders", "OrderStatus",null, Request.Url.Scheme))?categoryId=' + currentDisplaystatus);
            alert("Test");
            //ProcessMenuClick();

        });

        $('#dropdownMenuMove').click(function () {

            $("input[type='checkbox']:checked").each(function () {

                var orderValue = $(this).closest("td").closest("tr").find('#diplayedorder').html();
                $.ajax({
                  type: "POST",
                 url: '@Url.Action("UpdateOrders", "OrderStatus")',
                 data: { orderid: orderValue, status: currentDisplaystatus },
                success: function (data) {
                  if (data.success = "true") {
                  ProcessMenuClick();
                 }
                 }
                 });
            });

        });

        $("table input[type='checkbox']").on('change', function () {
            debugger;
            if (!$("input[type='checkbox']:checked").val()) {

                $('#dropdownMenuMove').attr('disabled', 'disabled')


            }
            else {

                $('#dropdownMenuMove').removeAttr('disabled')

            }


        });


    });
</script>

    <div class="container">
        <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>
        <div class="mail-box">
            <aside class="sm-side">
                <div class="user-head">
                    
                <div class="user-name">
                    <h5><a href="#">User</a></h5>
                    <span><a href="#"></a></span>
                </div>
                <a class="mail-dropdown pull-right" href="javascript:;">
                    <i class="fa fa-chevron-down"></i>
                </a>
            </div>
            <div class="inbox-body">
                <a href="" data-toggle="modal" title="Compose" class="btn btn-compose">
                    Refresh
                </a>
                <!-- Modal -->
                <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade" style="display: none;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                                <h4 class="modal-title">Compose</h4>
                            </div>
                            <div class="modal-body">
                                <form role="form" class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">To</label>
                                        <div class="col-lg-10">
                                            <input type="text" placeholder="" id="inputEmail1" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">Cc / Bcc</label>
                                        <div class="col-lg-10">
                                            <input type="text" placeholder="" id="cc" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">Subject</label>
                                        <div class="col-lg-10">
                                            <input type="text" placeholder="" id="inputPassword1" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">Message</label>
                                        <div class="col-lg-10">
                                            <textarea rows="10" cols="30" class="form-control" id="" name=""></textarea>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-lg-offset-2 col-lg-10">
                                            <span class="btn green fileinput-button">
                                                <i class="fa fa-plus fa fa-white"></i>
                                                <span>Attachment</span>
                                                <input type="file" name="files[]" multiple="">
                                            </span>
                                            <button class="btn btn-send" type="submit">Send</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
            </div>
            <ul class="inbox-nav inbox-divider">
                <li class="active">
                    <a href="#" id="active"><i class="fa fa-inbox"></i> Active Orders <span class="label label-danger pull-right">2</span></a>

                </li>
                <li class="inRoute">
                    <a href="#" id="inRoute" ><i class="fa fa-inbox"></i> In Route</a>
                </li>
                <li class="completed">
                    <a href="#" id="completed"><i class="fa fa-inbox"></i> Completed</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-inbox"></i> Reports <span class="label label-info pull-right">30</span></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-inbox"></i> Others</a>
                </li>
            </ul>
            <ul class="nav nav-pills nav-stacked labels-info inbox-divider">
                @*<li> <h4>Labels</h4> </li>
                <li> <a href="#"> <i class=" fa fa-sign-blank text-danger"></i> Work </a> </li>
                <li> <a href="#"> <i class=" fa fa-sign-blank text-success"></i> Design </a> </li>
                <li>
                    <a href="#"> <i class=" fa fa-sign-blank text-info "></i> Family </a>
                </li>
                <li>
                    <a href="#"> <i class=" fa fa-sign-blank text-warning "></i> Friends </a>
                </li>
                <li>
                    <a href="#"> <i class=" fa fa-sign-blank text-primary "></i> Office </a>
                </li>*@
            </ul>
            <ul class="nav nav-pills nav-stacked labels-info ">
                @*<li> <h4>Buddy online</h4> </li>
                <li> <a href="#"> <i class=" fa fa-circle text-success"></i>Alireza Zare <p>I do not think</p></a>  </li>
                <li> <a href="#"> <i class=" fa fa-circle text-danger"></i>Dark Coders<p>Busy with coding</p></a> </li>
                <li>
                    <a href="#"> <i class=" fa fa-circle text-muted "></i>Mentaalist <p>I out of control</p></a>
                </li>
                <li>
                    <a href="#"> <i class=" fa fa-circle text-muted "></i>H3s4m<p>I am not here</p></a>
                </li>
                <li>
                    <a href="#"> <i class=" fa fa-circle text-muted "></i>Dead man<p>I do not think</p></a>
                </li>*@
            </ul>

          

        </aside>
            <aside class="lg-side">
                <div class="inbox-head">
                    <h3>Active Orders</h3>
                    <form action="#" class="pull-right position">
                        <div class="input-append">
                            <input type="text" class="sr-input" placeholder="Search Orders">
                            <button class="btn sr-btn" type="button"><i class="fa fa-search"></i></button>
                        </div>
                    </form>
                </div>
                <div class="inbox-body">
                    @*<div class="mail-option">*@
                   
                      
                    <form action="#" class="pull-right position">
                        <div class="input-append">
                            @*<input type="text" class="sr-input" placeholder="Search Orders">*@
                            <button class="btn sr-btn btn-primary" type="button" id="dropdownMenuMove" disabled>Move -> Inroute</button>
                            <button id="dropdownMenuMove" class="btn invisible">  </button> 
                        </div>
                    </form>

                    @*<ul class="unstyled inbox-pagination">

                        <li>
                             
                            <span>1-50 of 234</span>
                        </li>
                        <li>
                            <button class="btn sr-btn" type="button"><i class="fa fa-search"></i></button>
                            <a class="np-btn" href="#"><i class="fa fa-angle-left  pagination-left"></i></a>
                        </li>
                        <li>
                            <a class="np-btn" href="#"><i class="fa fa-angle-right pagination-right"></i></a>
                        </li>
                    </ul>*@

           
                    @*</div>*@
                    <div id="divActiveorders">
                        @Html.Action("ActiveOrders", new { categoryId = "ACTIVE" })
                    </div>
                </div>
            </aside>
    </div>
</div>

  

                             